@if (showHeader) {
    <app-header></app-header>
}
<router-outlet></router-outlet>

@for (inv of invitations; track $index) {
    <a [routerLink]="`/games/${inv.room.game.route}/rooms/${inv.room.code}`" class="invitation" id="{{ inv.sender._id }}">
        <img class="invitation__gameIcon" [src]="inv.room.game.icon" [alt]="`Icono del juego ${ inv.room.game.name }`">
        <div class="invitation__info">
            <p class="info__title">Invitación de {{ inv.sender.username }}</p>
            <p class="info__desc">Has recibido una invitación para jugar a {{ inv.room.game.name }}</p>
        </div>
    </a>
}